Practica2/Entrega/Regateador/SOA/Schemas/Customer.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/JAPM/Regateador/Buyer"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="price_offered" type="float"/>
    <element name="price_initial" type="float"/>
   </sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="if_buy" type="boolean"/>
			</sequence>
		</complexType>
	</element>
</schema>