Practica2/Entrega/Regateador/SOA/Schemas/PriceChecker.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/JAPM/Regateador/ListPrices"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="product" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="price" type="float"/>
    <element name="ifStock" type="boolean"/>
   </sequence>
		</complexType>
	</element>
</schema>