Practica2/Entrega/Regateador/SOA/Schemas/ProcessCoordinator.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/JAPM/Regateador/Core"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="product" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="product" type="string"/>
    <element name="price_init" type="float"/>
    <element name="price_final" type="float"/>
    <element name="message" type="string"/>
   </sequence>
		</complexType>
	</element>
</schema>