Practica2/Entrega/Regateador/SOA/Schemas/Provider.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/JAPM/Regateador/Seller"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="price_offer" type="float"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="price_offered" type="float"/>
			</sequence>
		</complexType>
	</element>
</schema>